// app global css in SCSS form
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  outline: 1px solid darkgrey;
  border-radius: 3px;
}

.q-item__section--side {
  padding: 0;
}

.border-bottom_list__item{
  border-bottom: 1px solid $gray;
  margin-bottom: 5px;
}

.macondo-regular {
  font-family: "Macondo", serif;
  font-weight: 400;
  font-style: normal;
}

.black-and-white-picture-regular {
  font-family: "Black And White Picture", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

